h1 {
  font-size: 7vw;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  color: #f77f00;
  line-height: 0px;
  letter-spacing: 7px;
}
h2 {
  font-family:serif, "Times New Roman";
  font-size: 2vw;
  font-weight: 400;
  font-style: bold;
  text-align: center;
  text-transform: capitalize;
  color: #eae2b7;
  line-height: 1vw;
}
