.fontheader
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap" rel="stylesheet">

html { font-size: 22px; }
body{
  max-width: 12fr;
  margin: none;
}

.menu{
  display: inline-flex;
  position: sticky;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  top: 0;
  list-style: none;
  background-color: #111;
  overflow: hidden;
}

.menutext{
  font-family:sans-serif, "Times New Roman";
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.item1{
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}
nav div{
  display: inline-block;
  padding: 20px;
  margin-top: 10px;
}

.logo{
  position: sticky;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  float: left;
  cursor: pointer;
  height: 75px;
  width: 220px;
  padding-right: 10px;
  margin: 0;
}
.button {
  padding: 9px 30px;
  background-color: rgba(247, 127, 0, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family:sans-serif, "Times New Roman";
  font-weight: 500;
  font-size: 16px;
  color: #eae2b7;
  text-decoration: none;
}
.button:hover {
  background-color: rgba(247, 127, 0, 0.8);}

.banner { width: 100%; height: auto;}
.layout {
  display: grid;
  grid-template-areas:
    'menu'
    'header'
    'main1'
    'main2'
    'sidebar'
    'footer';
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 30px;
  height: 100%;
  background-color: none;
  padding: 10px;
}

.item1 { grid-area: menu; }
.item2 { grid-area: header; }
.item3 { grid-area: main1; }
.item4 { grid-area: main2; }
.item5 { grid-area: sidebar; }
.item6 { grid-area: footer;}

.main1 { flex: 2;}
.main2 { flex: 2; margin-right: 60px;}
.sidebar { flex: 1;}

.layout > div {
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 1rem;
  height: 4rem;
  font-size: 30px;
}

@media screen and (min-width: 600px) {
  html,body{height: 100%;}
  .layout{
    height: 100%;
    grid-template-areas:
    'menu header header header'
    'menu main1 main2 header'
    'menu main right'
    'footer footer footer';
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px auto 100px;
  }
  .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .layout { grid-template-columns: repeat(3, 1fr); }
}
___________

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}
.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}
